/*import*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto');

/*General Global setting */

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
  --primary: #ff0066;
}

body {
  position: relative;
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  min-height: 100vh;
  overflow: hidden; 
}


header{
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background: transparent;
  background-filter:blur(10px);
  border-bottom: 1px solid rgba(255,255,255, 0.5);
  transition: 1s;
  z-index: 1300;
}

header.active{
  background: #ffffff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
}

.logo {
  font-family: 'Great Vibes', cursive;
  font-size: 40px
  color: #000000;
  letter-spacing: 2px;
  font-weight: 400;
  text-decoration: none;
}


